<app-sidebar-admin></app-sidebar-admin>

<div class="container">
    <div class="row">
        <div class="col-md-10">

        <h1 class="head">Crear Usuario</h1>
        <h5 id="tipo">Tipo de Usuario</h5>
        <button id ="boton" class="shadow round" ><span class="paciente">Paciente</span><img id ="usuario" src="assets/images/usuario.png" alt=""> </button>
        <button id ="boton" class="shadow round" ><span class="paciente">Odontólogo</span><img id ="usuario" src="assets/images/usuario.png" alt=""> </button>
        <button id ="boton" class="shadow round" ><span class="paciente">Administrador</span><img id ="usuario" src="assets/images/usuario.png" alt=""> </button>

        </div>
    </div>

        

    <div class="row">
        <div class="col-md-2">

            <input type="text" class="UserData gap-up gap-down" placeholder="Nombre">
            <input type="text" class="UserData gap-down" placeholder="Apellido">
            <input type="text" class="UserData gap-down" placeholder="Username">
            <input type="text" class="UserData gap-down" placeholder="Contraseña">

        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <div id="guardar" class="button round button ok shadow text-center align_center white_color off-set-10">
                <span>Guardar</span>
            </div>
        </div>
    </div>

</div>