
.tipo {
    margin-left: 200px;
    padding: 8px 8px 8px 8px;
}

.button {

    background: #e7e7e7;
    border: 1px solid;
    border-radius: 3px;
    font: 700 13px Helvetica,Arial;
    height: 30px;
    line-height: 28px;
    padding: 0 20px;
    text-align: center;
    margin-right: 10px;
    box-sizing: border-box;
    
    }