<div class="row">
    <div class="col-md-2">
        <app-sidebar-admin></app-sidebar-admin>
    </div>
    <div class="col-md-10">
        <div class="container">
            <div class="row">
                <div class="col-md-10">

                <h1 class="head">Crear Usuario</h1>
                <h5 id="tipo">Tipo de Usuario</h5>
                <button id ="boton" class="shadow round" (click)="makePatient()"><span class="paciente">Paciente</span><img id ="usuario" src="assets/images/usuario.png" alt="" > </button>
                <button id ="boton" class="shadow round" (click)="makeDoctor()"><span class="paciente">Odontólogo</span><img id ="usuario" src="assets/images/usuario.png" alt=""> </button>
                <button id ="boton" class="shadow round"  (click)="makeAdmin()" ><span class="paciente">Administrador</span><img id ="usuario" src="assets/images/usuario.png" alt=""> </button>

                </div>
            </div>

                <div class="datos">
                    <div class="row">
                        <div class="col-md-2">

                            <input type="text" class="UserData gap-up gap-down" [(ngModel)]="nombre" placeholder="Nombre">
                            <input type="text" class="UserData gap-down" [(ngModel)]="apellido" placeholder="Apellido">
                            <input type="text" class="UserData gap-down" [(ngModel)]="user" placeholder="Username">
                            <input type="text" class="UserData gap-down" [(ngModel)]="password" placeholder="Contraseña">
                            <input type="number" class="UserData gap-down" [(ngModel)]="cedula" placeholder="Cedula">

                        </div>
                    </div>
                </div>


            <div class="row">
                <div class="col-md-2">
                    <button id="guardar" (click)="createUser()" class="button round button ok shadow text-center align_center white_color off-set-10">
                        <span>Guardar</span>
                    </button>
                </div>
            </div>

        </div>

    </div>
</div>




