#consulta{
    margin-bottom: 1.5em;
}
.opcion{
    margin: auto;
    text-align: center;
    background: linear-gradient(to bottom, rgba(11,132,213,1) 0%, rgba(12,169,127,1) 100%);;
    width: 100%;
    border-radius: 20px;
    height: 2em;
    margin-bottom: 2em;
}

.opciones{
    height: 3em;
}

.guardar{
    border-radius: 20px;
    margin-top: 2em;
    margin-bottom: 2em;
}

.opciones div{
    margin-top: 0.5em;
}

.info{
    width: 100%;
    margin-top: 1em;
   }

.recipe{
    border: 1px solid black;
    height: 25em;
}

#logo{
    width: 60%;
    margin-top: 1em;
    margin-left: 1em;
}
.col-md-6 div{
    margin-top: 0.5em;
}

.col-md-6 input{
    margin-left: 1em;
}

.recipeTextArea{
    border: 0;
    height: 12em;
    width: 90%;
    margin-left: 2em;
}

   
   

   