<div class="row">
    <div class="col-md-2">
        <app-sidebar-doctor></app-sidebar-doctor>
    </div>
    <div class="col-md-10">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <h1 class="head" id="consulta">Registrar Consulta: {{name}} {{last}}</h1>
                </div>
            </div>
            

            <div class="row">
                <div class="col-md-11">
                    <div class="round shadow">
                        <div class="row opcion opciones">
                            <div class="col-md-3 white_color" id="tratamiento" (click)="mostrarTratamiento()">Tratamientos</div>
                            <div class="col-md-4 white_color" id="prox-tratamientos" (click)="mostrarProxTratamientos()">Próximos Tratamientos</div>
                            <div class="col-md-2 white_color" id="recipe" (click)="mostrarRecipe()">Récipe</div>
                            <div class="col-md-3 white_color" id="imagen" (click)="mostrarImagen()">Imagen</div>
                            
                        </div>
                        <div *ngIf="recipe">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="recipe">
                                        <div class="datos border_bottom">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <img id="logo" src="assets/images/Logo1.png" alt="Logo">
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-md-2">Nombre: </div>
                                                        <div class="col-md-4"> <input [(ngModel)]="nombre" class="sinborde"type="text"></div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-2">C.I.:</div>
                                                        <div class="col-md-4"> <input [(ngModel)]="ci" class="sinborde"type="text"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                            <div>
                                                <textarea [(ngModel)]="recipeText" name="recipeinfo" id="recipeinfo" cols="" rows="" class="recipeTextArea"></textarea>
                                            </div>       
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2 offset-10">
                                        <button class="round shadow button ok white_color gap-up">Imprimir</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="tratamiento">
                            <div class="row">
                                <div class="col-md-6">
                                   <p>Tratamiento:</p> 
                                </div>
                                <div class="col-md-6">
                                    Monto a Pagar: <input [(ngModel)]="toPay" type="number" class="sinborde" id="pagar"> 
                                </div>
                            </div>
                            <div class="row">
                                    <div class="col-md-12">
                                        <textarea [(ngModel)]="treatment" name="tratamiento" id="tratamiento" cols="" rows="14" class="round shadow info"></textarea>
                                    </div>
                            </div>
                        </div>
                        <div *ngIf="proxTratamientos">
                            <div class="row">
                                <div class="col-md-6">
                                   <p>Próximos Tratamientos:</p> 
                                </div>
                            </div>
                            <div class="row">
                                    <div class="col-md-12">
                                        <textarea [(ngModel)]="nextTreatments" name="prox-tratamiento" id="prox-tratamiento" cols="" rows="14" class="round shadow info"></textarea>
                                    </div>
                            </div>
                        </div>

                        <div *ngIf="imagen">
                            <div class="row gap-down">
                                <div class="col-md-6">
                                    <p>Agregar una Imagen:</p> 
                                 </div>
                            </div>
                            <div class="row gap-down gap-up espacio">
                                <div class="col-md-6 offset-">
                                    <div class="custom-file">
                                        <input class="custom-file-input" type="file" accept=".png, .jpg" (change)="onUpload($event)" id="customFile">
                                        <label class="custom-file-label" for="customFile">Selecciona una Imagen</label>
                                      </div>
                                    
                                </div>
                            </div>

                            <div class="row gap-up">
                                <div class="col-md-12">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped bg-info" role="progressbar"[style.width]="uploadPercent + '%'"></div>
                                    </div>
                                </div>
                            </div>  
                            
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <button class="shadow button ok white_color offset-10 guardar" (click)="registrarConsulta()">Registrar</button>
            </div>
        </div>
    </div>
</div>

