<div class="row">
    <div class="col-md-2">
        <app-sidebar-doctor></app-sidebar-doctor>
    </div>
    <div class="col-md-10">
        <div class="container">
            <div class="row">
            <div class="col-md-3">
            <h1 class="head">Mi Perfil</h1>
            </div>
            </div>
            <div class="datos">
                <div class="row">
                    <div class="col-md-6">
                    <p class="data">Nombre: <span id="nombre">{{mainUser.name}}</span></p>
                    <p class="data">Apellido: <span id="apellido">{{mainUser.lastname}}</span> </p>
                    <p class="data">Username: <span id="user">{{mainUser.username}}</span></p>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-3">
                    <h5 id= "pago">Métodos de Pago:</h5>
                </div>
            </div>

            <div class="metodosPago">
            <div class="row">
               <div class="col-md-3">
                <input type="radio" name ="transferencia" value="1"> Transferencia
               </div>
               <div class="col-md-3">
                <input type="radio" name="zelle" value="1" id="zelle"> Zelle
               </div>
            </div>
               <div class="row">
               <div class="col-md-3">
                   <input type="radio" name="paypal" value="1"> PayPal
               </div>
               <div class="col-md-3">
                <input type="radio" name="efectivo" value="1" id="efectivo" > Efectivo
               </div>
            </div>
            </div>


            <div class="row">
                <div class="col-md-3">
                    <h5 class="bloque">Bloques de Trabajo:</h5>
                </div>
            </div>

           <div class="dias">
            <div class="row">
                <div class="col-md-2 disponibilidad" id="lunes">
                <div class="row">Lunes</div>
                  <div class="row"><button (click)="workBlock(1, true)">Disponible</button></div>
                  <div class="row"><button (click)="workBlock(1, false)">No disponible</button></div>
                </div>

              <div class="col-md-2 disponibilidad" id="martes">
                <div class="row">Martes</div>
                <div class="row"><button (click)="workBlock(2, true)">Disponible</button></div>
                <div class="row"><button (click)="workBlock(2, false)">No disponible</button></div>
              </div>

              <div class="col-md-2 disponibilidad" id="miercoles">
                <div class="row">Miercoles</div>
                <div class="row"><button (click)="workBlock(3, true)">Disponible</button></div>
                <div class="row"><button (click)="workBlock(3, false)">No disponible</button></div>
              </div>

              <div class="col-md-2 disponibilidad" id="jueves">
                <div class="row">Jueves</div>
                <div class="row"><button (click)="workBlock(4, true)">Disponible</button></div>
                <div class="row"><button (click)="workBlock(4, false)">No disponible</button></div>
              </div>


              <div class="col-md-2 disponibilidad" id="viernes">
                <div class="row">Viernes</div>
                <div class="row"><button (click)="workBlock(5, true)">Disponible</button></div>
                <div class="row"><button (click)="workBlock(5, false)">No disponible</button></div>
              </div>
            </div>
           </div>
            <div id="x"></div>
            </div>
    </div>
</div>




