<app-sidebar-admin></app-sidebar-admin>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1 class="gap-down head">Estadisticas Generales</h1>
        </div>
    </div> 

    <div class="row">
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-4">
                    <select name="predeterminado" id="predeterminado" class="round shadow">
                        <option value="0">Doctor</option>
                        <option value="1">Luis Manzano</option>
                        <option value="1">Reichel Larez</option>
                        <option value="1">Luis Gonzalez</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-md-2">
            <p class ="data gap-up">Pacientes(Semana): 20</p>
        </div>

        <div class="col-md-2">
            <p class ="data gap-up">Pacientes(Total): 180</p>
        </div>

        <div class="col-md-2">
            <p class ="data gap-up">Citas Atendidas: 24</p>
        </div>

        <div class="col-md-2">
            <p class ="data gap-up">Citas Perdidas: 2</p>
        </div>

        <div class="col-md-2">
            <p class ="data gap-up">Monto Cobrado: 2.5K</p>
        </div>

        <div class="col-md-2">
            <p class ="data gap-up">Porcentaje Clinico: 8%</p>
            <p class ="modificar">Modificar Porcentaje</p>
        </div>
        
        <div class="col-md-2">
            <p class ="data gap-up">Monto Historico: 250.3K</p>
        </div>

    </div>
 
    
    





</div>

