<app-sidebar-admin></app-sidebar-admin>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1 class="gap-down head">Estadisticas Generales</h1>
        </div>
    </div> 

    <div class="row">
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-4">
                    <select name="docs" id="docs" class="round shadow">
                        <option value="0">Doctor</option>
                        <option value="1">Luis Manzano</option>
                        <option value="1">Reichel Larez</option>
                        <option value="1">Luis Gonzalez</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">

            <p>Prueba</p>
            <p>Prueba2</p>

        </div>

    </div>
 
    
    





</div>

