#predeterminado{
    margin-top: 2em;
    height: 2em;
    background-color: white;
}

.modificar{
    color: rgba(12,169,127,1);
    text-decoration: underline;
}

input{
  width: 45px;
  border-radius: 15px;
}

button{
  display: inline-block;
}
