<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <main>
        <div class="fondo">
            <div>
                <img id="logo" src="assets/images/Logo1.png" alt="Logo">
            </div>
            <div class="datos">
                <input type="text" class="form-control" id= "correo" placeholder="Correo Electrónico">
                <input type="text" class="form-control" id= "contraseña" placeholder="Contraseña">
                <button id=iniciar> Iniciar Sesión </button>
            </div>
        </div>
    </main>
    <div>
        <img id="diseño"src="assets/images/diseño.png" alt="diseño">
    </div>
    <footer>
        <p id="copyright">Copyright © 2020.  Adolf Dental. Todos los Derechos Reservados <span class="contacto">Contactanos: soporte@adental.com</span></p>
    </footer>
</body>
</html>
