<div class="row">
  <div class="col-md-2">
    <app-sidebar></app-sidebar>
  </div>
  <div class="col-md-10">
    <div class="container">

      <div class="row">
        <div class="col-md-6">
          <h1 class="gap-down head">Mis Citas</h1>

        </div>
      </div>

<ng-container *ngIf="book; else unBooked">
        <div class="row">
            <div class="col-md-6 gap-down">
               <h4 class="gap-up">Su Proxima Cita</h4>
                <div class="row">
                    <div class="col-md-6">
                        <p><b>Fecha: </b>{{fecha}} </p>
                    </div>

                    <div class="col-md-6">
                        <p><b>Doctor: </b> {{doctor}} </p>
                    </div>
                </div>

            </div>

        </div>


      <div class="row">
        <div class="col-md-6">
    <div class="row">


          <div class="col-md-4 offset-4">
            <button class="button cancel round shadow text-center align_center white_color" (click)="cancelAppo()">
              <span>Cancelar</span>
            </button>
          </div>

      <div class="col-md-4">
        <button class="button ok round shadow text-center align_center white_color" (click)="modifyAppo()">
          <span>Modificar</span>
        </button>
      </div>



        </div>

        </div>

      </div>
  <h6>No puede agendar mas citas si tiene una pendiente</h6>
</ng-container>

<ng-template #unBooked>
        <div class="row">
            <div class="col-md-7 gap-down">
                <h4 class="gap-down">No tiene citas pendientes</h4>
                <h4 class="gap-up">Agendar Cita</h4>
            </div>
        </div>

        <div class="row gap-down">
            <div class="col-md-7 gap-down">
                <div class="row">

                  <div class="col-md-4">
                        <select name="docs" id="docs" class="round shadow" [(ngModel)]="chosenDoctor" (change)="searchDates()">
                          <option value="">Elija un doctor</option>
                          <ng-container *ngFor="let doctor of doctores">
                            <option [ngValue]="doctor.id">{{doctor.name + ' ' + doctor.lastname}}</option>

                          </ng-container>

                        </select>
                    </div>

                  <div class="col-md-2"></div>

                  <div class="col-md-4">
                    <input type="date" [(ngModel)]="chosenDate" (change)="searchDates()" class="round shadow input-style" placeholder="Elija la fecha" name="" id="">
                  </div>

                </div>
            </div>
        </div>


      <div class="row" *ngIf="display; else notWork">
        <div class="col-md-8">

          <div class="round shadow appointment-picker gap-up">

            <ng-container *ngFor="let block of availableBlocks; let i = index">


              <div class="row gap-down" *ngIf="block; else unavailable">
                <div class="col-md-2 text-center align_center">
                  <span class="text-center">{{i + 8}}:00</span>
                </div>
                <div class="col-md-7 border_bottom green_color">
                  Disponible
                </div>
                <div class="col-md-3 align_center">
                  <button class="button ok round shadow text-center align_center" (click)="booking(i)">
                    <span class="white_color text-center">Agendar</span>
                  </button>
                </div>
              </div>

              <ng-template #unavailable>
                <div class="row gap-down">
                  <div class="col-md-2 text-center align_center">
                    <span class="text-center">{{i+8}}:00</span>
                  </div>
                  <div class="col-md-7 border_bottom red_color">
                    No Disponible
                  </div>
                  <div class="col-md-3 align_center">
                  </div>
                </div>
              </ng-template>





            </ng-container>
          </div>

        </div>
      </div>

      <ng-template #notWork>
        <h4>Su doctor no trabaja este dia de la semana</h4>
      </ng-template>



</ng-template>
        </div>

  </div>
</div>



