<div class="row">
  <div class="col-md-2">
    <app-sidebar></app-sidebar>
  </div>
  <div class="col-md-10">
    <div class="container">

      <div class="row">
        <div class="col-md-6">
          <h1 class="gap-down head">Mis Citas</h1>

        </div>
      </div>


        <div class="row">
            <div class="col-md-6">
               <h4 class="gap-up">Su Proxima Cita</h4>
                <div class="row">
                    <div class="col-md-6">
                        <p><b>23 de febrero del 2020</b> </p>
                    </div>

                    <div class="col-md-6">
                        <p><b>Doctor: </b> Christian Guillen </p>
                    </div>
                </div>

            </div>
        </div>



      <div class="row">
        <div class="col-md-6">
    <div class="row">


          <div class="col-md-4 offset-4">
            <div class="button cancel round shadow text-center align_center white_color">
              <span>Cancelar</span>
            </div>
          </div>

      <div class="col-md-4">
        <div class="button ok round shadow text-center align_center white_color">
          <span>Modificar</span>
        </div>
      </div>



        </div>

        </div>

      </div>



        <div class="row">
            <div class="col-md-7 gap-down">
                <h4 class="gap-up">Agendar Cita</h4>
            </div>
        </div>

        <div class="row gap-down">
            <div class="col-md-7 gap-down">
                <div class="row">
                    <div class="col-md-4">
                        <select name="docs" id="docs" class="round shadow">
                          <option value="">Elija un doctor</option>
                          <ng-container *ngFor="let doctor of doctores">
                            <option value="">{{doctor.name + ' ' + doctor.lastname}}</option>

                          </ng-container>

                        </select>
                    </div>

                    <div class="col-md-2"></div>

                    <div class="col-md-4">
                        <input type="date" class="round shadow input-style" placeholder="Elija la fecha" name="" id="">
                    </div>

                </div>
            </div>
        </div>


      <div class="row">
        <div class="col-md-8">

          <div class="round shadow appointment-picker gap-up">


              <div class="row gap-down">
                <div class="col-md-2 text-center align_center">
                  <span class="text-center">2</span>
                </div>
                <div class="col-md-7 border_bottom green_color">
                  Disponible
                </div>
                <div class="col-md-3 align_center">
                  <div class="button ok round shadow text-center align_center">
                    <span class="white_color text-center">Agendar</span>
                  </div>
                </div>
              </div>

            <div class="row gap-down">
              <div class="col-md-2 text-center align_center">
                <span class="text-center">2</span>
              </div>
              <div class="col-md-7 border_bottom green_color">
                Disponible
              </div>
              <div class="col-md-3 align_center">
                <div class="button ok round shadow text-center align_center">
                  <span class="white_color text-center">Agendar</span>
                </div>
              </div>
            </div>

            <div class="row gap-down">
              <div class="col-md-2 text-center align_center">
                <span class="text-center">2</span>
              </div>
              <div class="col-md-7 border_bottom green_color">
                Disponible
              </div>
              <div class="col-md-3 align_center">
                <div class="button ok round shadow text-center align_center">
                  <span class="white_color text-center">Agendar</span>
                </div>
              </div>
            </div>

            <div class="row gap-down">
              <div class="col-md-2 text-center align_center">
                <span class="text-center">2</span>
              </div>
              <div class="col-md-7 border_bottom red_color">
                No Disponible
              </div>
              <div class="col-md-3 align_center">
              </div>
            </div>




          </div>

        </div>
      </div>




        </div>

  </div>
</div>



