<div class="row">
  <div class="col-md-2">
    <app-sidebar></app-sidebar>
  </div>
  <div class="col-md-10">
    <div class="container">
      <div class="row">
        <div class="md-col-3">
          <h1 class="head">Mis Facturas</h1>
        </div>
      </div>
    
      <div class="row">
        <div class="col-md-5">
          <h5 class="gap-up gap-down">Ordenadas por mas recientes</h5>
        </div>
      </div>
    <!-- Inicio de la Tarjeta-->
      <div class="row gap-up gap-down">
        <div class="col-md-10">
          <div class="round shadow">
          <div class="row">
      <div class="col-md-3">
        <p> <b>Monto que Debe: </b> 999 </p>
      </div>
    
      <div class="col-md-4 offset-5">
        <p> <b> Fecha 14/04/1998 </b></p>
      </div>
    </div>
            <div class="row">
              <div class="col-md-12">
    
                <b>Tratamiento</b><br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime voluptatibus vel nam sapiente consequuntur officia dolorum vero iusto hic
              </div>
              <div class="col-md-3 offset-9 gap-up">
                <div class="button ok round shadow text-center align_center white_color">
                  <span>Pagar</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    
      <div class="row gap-up">
        <div class="col-md-10">
          <div class="round shadow">
            <div class="row">
              <div class="col-md-3">
                <p> <b>Monto que Debe: </b> 999 </p>
              </div>
    
              <div class="col-md-4 offset-5">
                <p> <b> Fecha 14/04/1998 </b></p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
    
                <b>Tratamiento</b><br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime voluptatibus vel nam sapiente consequuntur officia dolorum vero iusto hic
              </div>
              <div class="col-md-3 offset-9 gap-up">
                <div class="button ok round shadow text-center align_center white_color">
                  <span>Pagar</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    
    
    </div>
    
  </div>
</div>



