<div class="row">
  <div class="col-md-2">
    <app-sidebar></app-sidebar>
  </div>
  <div class="col-md-10">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
        <h1 class="head">Pagar</h1>
      </div>
    </div>

      <div class="row">
        <div class="col-md-4">
          <p class="data"> <b>Monto que debe: </b> 9999</p>
        </div>
      </div>

      <div class="metodosPago">
        <div class="row">
           <div class="col-md-3">
             <a class="pago" href=""><img class="imagen" id="transferencia" src="assets/images/transferencia.png" alt="">  Transferencia</a>
           </div>
           <div class="col-md-3">
            <a class="pago" href=""><img class="imagen" src="assets/images/zelle.png" alt="">  Zelle</a>
           </div>
        </div>
           <div class="row">
           <div class="col-md-3">
            <a class="pago" href=""><img class="imagen" src="assets/images/paypal.png" alt="">  Paypal</a>
           </div>
           <div class="col-md-3">
            <a class="pago" href=""><img class="imagen" src="assets/images/efectivo.png" alt="">  Efectivo</a>
           </div>
        </div>
      </div>

    </div>
  </div>
</div>









