.cambiarContra{
    border-radius: 20px;
    margin-top: 2em;
    margin-bottom: 2em;
}
.cambiar{
    margin-top: 3em;
    font-size: x-small;
    border-radius: 20px;
}
.nueva{
    margin-top: 2em;
}
