<div class="row">
    <div class="col-md-2">
        <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-10">
        <div class="container">
            <div class="row">
            <div class="md-col-3">
            <h1 class="head">Perfil</h1>
            </div>
            </div>

            <div class="row">
            <div class="col-sm-10 col-md-6">
            <p class="data">Nombre:  {{mainUser.name}} </p>
            <p class="data">Apellido: {{mainUser.lastname}}</p>
            <p class="data">Username: {{mainUser.username}}</p>
            <p class="data"><b>Monto que Debe: </b> {{montoTotal}}</p>
            </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <button class="button ok shadow cambiarContra white_color" (click)="activarCambiarContra()">Cambiar Cotraseña</button>
                </div>
                <div class="col-md-3 offset-3">
                    <div *ngIf="activar">
                        <input type="text" [(ngModel)]="contrasena" class="sinborde nueva" id= "contrasena" placeholder="Nueva Contraseña">
                    </div>
                </div>
                <div class="col-md-3">
                    <div *ngIf="activar">
                        <button class="button ok shadow cambiar white_color" (click)="cambiarContra()">Cambiar</button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                   <h4 class="gap-up gap-down">Historial</h4>
                </div>
            </div>


            <div *ngFor="let consulta of arregloConsulta">
                <div class="row">
                    <div class="col-md-10">
                        <div class="profile_card card historia">
                            <div class="row">
                                <div class="col-md-4">
                                    <p><b>Fecha {{consulta.createdAt.toDate().getDate()}}/{{consulta.createdAt.toDate().getMonth()+1}}/{{consulta.createdAt.toDate().getFullYear()}} </b></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-9">
                                    {{consulta.tratamiento}}
                                </div>
                                <div class="col-md-2 offset-1">
                                    <img id="imagen" src={{consulta.imagen}} alt="">
                                </div>
                            </div>
                            <div class="row">
                                    <div *ngIf="!consulta.status" class="col-md-4 offset-md-9  col-sm-8">
                                        <button class="button ok shadow round gap-up white_color" (click)="irConsulta(consulta.idConsulta)">Ver Mas</button>
                                        <button class="button ok shadow round gap-up white_color pago" (click)="irPagar(consulta.idConsulta)">Pagar</button>
                                    </div>
                                    <div *ngIf="consulta.status" class="col-md-2 offset-md-10 col-sm-8">
                                        <button class="button ok shadow round gap-up white_color" (click)="irConsulta(consulta.idConsulta)">Ver Mas</button>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="prueba"></div>
            </div>
    </div>
</div>




