
<app-sidebar></app-sidebar>
<div class="container">
    <div class="row">
    <div class="md-col-3">
    <h1 class="head">Perfil</h1>
    </div>
    </div>
    
    <div class="row">
    <div class="col-md-3">
    <p class="data">Nombre: Luis Fernando </p>
    <p class="data">Apellido: Manzano</p>
    <p class="data">Username: luisfmanzanoa</p>
    <p class="data"><b>Monto que Debe: </b> 9999</p>
    </div>
    </div>

    <div class="row">
        <div class="col-md-3">
           <h5 class="gap-up gap-down">Historial</h5> 
        </div>
    </div>

    <div class="row">
        <div class="col-md-10">
            <div class="profile_card card">
                <p> <b> Fecha 14/04/1998 </b></p>
                <div class="row">
                    <div class="col-md-8">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime voluptatibus vel nam sapiente consequuntur officia dolorum vero iusto hic? Illum voluptatum facere incidunt unde molestias dolores dicta consectetur ipsum numquam!
                    </div>
                    <div class="col-md-2">
                        <img src="" class="card_pic" alt="card_pic">
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>