
textarea{
    width: 100%!important;
}

#mensaje-predeterminado{
    margin-top: 1em;
}

#predeterminado{
    margin-top: 2em;
    width: 100%;
    height: 3em;
    background-color: white;
}

#mensaje-personalizado{
    margin-top: 3em;
}

#personalizado{
    margin-top: 2em;
    text-align: justify;
    border: 0;
}

#enviar{
    width: max-content;
    margin-left: 35em;
    margin-top: 3em;

}
#enviar{
    width: 7em;
}
.x{
    margin-top: 10em;
}
