<div class="row">
    <div class="col-md-2">
        <app-sidebar-doctor></app-sidebar-doctor>
    </div>
    <div class="col-md-10">
        <div class="container">
            <div class="row">
            <div class="md-col-3">
            <h1 class="head">Perfil Paciente</h1>
            </div>
            </div>

            <div class="row">
            <div class="col-md-4">
            <p class="data">Nombre: {{nombre}}</p>
            <p class="data">Apellido: {{last}}</p>
            <p class="data">Username: {{email}} </p>
            <p class="data"><b>Monto que Debe: </b>99999</p>
            </div>
            </div>
            <div class="row">
                <a [routerLink]="['/enviar-mensaje', id]" class="button ok white_color opciones shadow"> 
                    Enviar Mensaje </a>
            </div>
            <div class="row">
                <a [routerLink]="['/registrar-consulta', id]" class="button ok white_color opciones2 shadow"> 
                    Registrar Consulta </a>
            </div>
            <div class="row">
                <div class="col-md-3">
                   <h4 class="gap-up gap-down">Historial</h4>
                </div>
            </div>

            <div *ngFor="let consulta of arregloConsulta">

                <div class="row">
                    <div class="col-md-10">
                        <div class="profile_card card historia">
                            <div class="row">
                                <div class="col-md-4">
                                    <p><b>Fecha {{consulta.createdAt.toDate().getDate()}}/{{consulta.createdAt.toDate().getMonth()+1}}/{{consulta.createdAt.toDate().getFullYear()}} </b></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-10">
                                    {{consulta.tratamiento}} 
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 offset-10">
                                    
                                    <button class="button ok shadow round gap-up white_color" (click)="irConsulta(consulta.idConsulta)">Ver Mas</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
            </div>
            <div class="prueba"></div>
    </div>
</div>


