<div class="col-md-12">
    <div class="row">
        <div class="recipe">
            <div class="datos border_bottom">
                <div class="row">
                    <div class="col-md-6">
                        <img id="logo" src="assets/images/Logo1.png" alt="Logo">
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-2">Nombre:</div>
                            <div class="col-md-4"> <input class="shadow"type="text"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">C.I.:</div>
                            <div class="col-md-4"> <input class="shadow"type="text"></div>
                        </div>
                    </div>
                </div>
            </div>
                <div>
                    <textarea name="recipeinfo" id="recipeinfo" cols="" rows=""></textarea>
                </div>       
                <div class="row abajo">
                    <div class="col-md-3 firma offset-9">
                        <p class="border_top">Firma</p>
                    </div>
                </div>
        </div>
    </div>
    
    
    <div class="row offset-10">
        <div class="col-md-4 guardar">
            <button class="round shadow button ok white_color">Imprimir</button>
        </div>
    </div>
</div>
