<div class="col-md-12">
    <div class="row">
        <div class="recipe">
            <div class="datos border_bottom">
                <div class="row">
                    <div class="col-md-6">
                        <img id="logo" src="assets/images/Logo1.png" alt="Logo">
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-2">Nombre: </div>
                            <div class="col-md-4"> <input class="sinborde"type="text"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">C.I.:</div>
                            <div class="col-md-4"> <input class="sinborde"type="text"></div>
                        </div>
                    </div>
                </div>
            </div>
                <div>
                    <textarea [(ngModel)]="recipeText" name="recipeinfo" id="recipeinfo" cols="" rows=""></textarea>
                </div>       
        </div>
    </div>
    
    
    <div class="row offset-8">
        <div class="col-md-4">
            <button class="round shadow button ok white_color gap-up">Imprimir</button>
        </div>
        <div class="col-md-4">
            <button class="button ok white_color shadow round gap-up" (click)="guardarRecipe()">Guardar</button>
        </div>
    </div>
</div>
