<app-sidebar-doctor></app-sidebar-doctor>
<div class="container">
    <div class="row">
        <div class="col-md-5">
        <h1 class="head">Nuevo Paciente</h1>
        <h5 id="tipo">Tipo de Usuario</h5>
        <button id ="boton" class="shadow round" disabled><span class="paciente">Paciente</span><img id ="usuario" src="assets/images/usuario.png" alt=""> </button>
        </div>
    </div>

        <div class="datos">
            <div class="row">
                <div class="col-md-3">
                        <input type="text" class="sinborde gap-down" id= "nombre" placeholder="Nombre">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <input type="text" class="sinborde gap-down" id= "apellido" placeholder="Apellido">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <input type="text" class="sinborde gap-down" id= "user" placeholder="Username">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <input type="text" class="sinborde gap-down" id= "ci" placeholder="C.I">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <input type="date" class="sinborde gap-down" id= "fecha" placeholder="Fecha de Nacimiento" >
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <button id="guardar" class="round shadow button button ok white_color">Guardar</button>
            </div>
        </div>
</div>
