
<div class="col-md-2 sidebar shadow col-sm-12">
  <div class="row">
    <div class="col-md-12 col-sm-4 col-xs-4">
    <img src="assets/images/logo7.png" class="logo" alt="">
    </div>
  </div>

    <p class="menu"> <a href="" [routerLink]="['/perfil-paciente']">Perfil</a> </p>
    <p class="menu"><a href="" [routerLink]="['/citas']">Mis Citas</a></p>
    <p class="menu"><a href="" [routerLink]="['/facturas']">Mis Facturas</a></p>
    <p class="cerrar-sesion menu"><a href="" (click)="logout()">Cerrar Sesión</a></p>
</div>
