.sidebar{
    border-radius: 0 25px 25px 0;
    height: 100vh;
    position: fixed;
    background: linear-gradient(to bottom, rgba(11,132,213,1) 0%, rgba(12,169,127,1) 100%);
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding: 3.5em 2em;
    font-size: 1.25em;
    box-shadow: .5rem .5rem 4rem rgba(0,0,0,.3)!important;
}

.sidebar .logo{
    margin-bottom: 2.5em;
}

.sidebar .menu a{
    display: block;
    margin-bottom: 2em;
    color: white;
    margin-left: 1em;
}

img.logo{
    max-width: 100%;
}

.sidebar .menu:hover{
    text-decoration: underline;
}
