<div class="row">
    <div class="col-md-2">
        <app-sidebar-doctor></app-sidebar-doctor>
    </div>
    <div class="col-md-10">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <h1 class="head">Mis Pacientes</h1>
                </div>
            </div>
        
            <div class="row">
                <div class="col-md-10">
                    <div class="mis-pacientes round shadow">
                        <div class="row">
                            <div class="col-md-11">
                                <div class="row">
                            <div class="col-md-3 border_bottom border_right border_left" >Nombre</div>
                            <div class="col-md-3 border_bottom border_right">Apellido</div>
                            <div class="col-md-3 border_bottom border_right">Correo</div>
                            <div class="col-md-3 border_bottom border_right">Cedula</div>
                            </div>
                        </div>
                            <div class="col-md-1"></div>
        
                        </div>
        
                        <div class="row">
                            <div class="col-md-11">
                                <div class="row">
                            <div class="col-md-3 border_bottom border_right border_left">Nombre</div>
                            <div class="col-md-3 border_bottom border_right">Apellido</div>
                            <div class="col-md-3 border_bottom border_right">Correo</div>
                            <div class="col-md-3 border_bottom border_right">Cedula</div>
                            </div>
                        </div>
                            <div class="col-md-1">
                                <a href="" class="glyphicon glyphicon-eye-open"></a>
                            </div>
        
                        </div>
        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





