<div class="row">
  <div class="col-md-2">
    <app-sidebar-doctor></app-sidebar-doctor>
  </div>
  <div class="col-md-10">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h1 class="head">Mis Citas</h1>
        </div>
      </div>

      <ng-container *ngFor="let appointment of appointments; let i = index">

        <div class="row">
          <div class="col-md-10">
            <div class="profile_card card espacio">
              <p><b>Fecha: </b>{{appointment.date}}</p>
              <div class="row">
                <div class="col-md-8">
                  <div class="row">
                  <p><b>Paciente: </b>{{gottenPatients[i]}}</p>
                  </div>
                  <div class="row">
                  <p><b>Hora: </b> {{appointment.timeblock+8}}:00</p>
                  </div>

                  <div *ngIf="!appointment.confirmed">
                    <div class="row">
                      <div class="col-md-3">
                        <button class="button cancel round shadow white_color" (click)="cancelAppo(appointment.patient)">Cancelar</button>
                      </div>
                      <div class="col-md-3">
                        <button class="button ok round shadow white_color" (click)="confirmAppo(appointment.patient)">Confirmar</button>
                      </div>
                      <div class="col-md-6">
                        <button class="button ok round shadow white_color" (click)="irConsulta()">Registrar Consulta</button>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="appointment.confirmed">
                    <div class="row">
                      <div class="col-md-3">
                        <button class="button cancel round shadow white_color" (click)="cancelAppo(appointment.patient)">Cancelar</button>
                      </div>
                      <div class="col-md-6">
                        <button class="button ok round shadow white_color" (click)="irConsulta()">Registrar Consulta</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </ng-container>

    </div>
  </div>
</div>




